.body {
    font-family: Arial, sans-serif;
}
.color-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin: 50px;
    font-size: 3rem;
}
.color-display {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(39,33,49);
    border-radius: 25px;
    margin-bottom: 25px;
    transition: 0.25s ease;
}
.color-display {
    font-size: 1.5rem;
    text-align: center;
}
label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
input[type='color'] {
    width: 80px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid gray;
}
.copyable {
    cursor: pointer;
    text-decoration: underline;
    margin: 5px 0;
}
  .copyable:hover {
    color: #555;
}
  